[Unit]
Description=PXE ProxyDHCP (iPXE)
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/pxe-proxy -i eth0
Restart=on-failure

[Install]
WantedBy=multi-user.target
